doctype html
head
    include ./common/revised/adminHead.pug
    include ./common/revised/adminSideBar.pug
    include ./common/revised/adminTopBar.pug
    include ./common/revised/adminFooter.pug
    include ./common/revised/adminSetting.pug
    include ./common/revised/adminScripts.pug
    <!-- Datatables css -->
    
    +head("Kids")
    <link href="assets/css/vendor/dataTables.bootstrap5.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/vendor/responsive.bootstrap5.css" rel="stylesheet" type="text/css" />
    <!-- third party css end -->


#preloader
    #status
        .bouncing-loader
            div
            div
            div 
    
// Begin page
.wrapper

    +sidebar()
    .content-page
        .content
            +topbar()
            .container-fluid
                // start page title
                .row
                    .col-12
                        .page-title-box
                            h4.page-title Kids
                
                .row
                    .card
                        .card-body
                            .row.mb-2
                                .col-xl-8
                                    .row.gy-2.gx-2.align-items-center.justify-content-xl-start.justify-content-between
                                        .col-lg-4
                                            label(for='accountNumber') Kid Number
                                            input#kidNumber.form-control(type='search')
                                        .col-lg-4
                                            label(for='name') Name
                                            input#name.form-control(type='search')
                                        .col-lg-4
                                            label(for='school') School
                                            input#school.form-control(type='search')
                                        
                                        
                                        .col-lg-4
                                            label.me-2(for='class') Class
                                            input#class.form-control(type='search')
                                        
                                .col-xl-4
                                    .text-xl-end.mt-xl-0.mt-2
                                        button#search.btn.btn-success.mb-2.me-2(type='button')
                                            |  Search
                                        
                                        button#clear.btn.btn-danger.mb-2.me-2(type='button')
                                            |  Clear
                                            

                            
                            .row.mb-2
                                table#kidsTable.table.table-striped.dt-responsive.nowrap.w-100(style="cursor:pointer")
                                    thead
                                        tr
                                        th Kid Number
                                        th Name
                                        th School
                                        th Class
                                    tbody
                                    
                                    
                                        

        
    +footer()
+setting()

+scripts()
<script src="assets/js/vendor/jquery.dataTables.min.js"></script>
<script src="assets/js/vendor/dataTables.bootstrap5.js"></script>
<script src="assets/js/vendor/dataTables.responsive.min.js"></script>
<script src="assets/js/vendor/responsive.bootstrap5.min.js"></script>

<script src="javascript/new/newKids.js"></script>
script(src="assets2/js/adminDashboard.js")