doctype html
html(land="en")
    include common/header.pug
    +head("Delay " + school)
    link(rel="stylesheet" href="css/kcards11.css" type="text/css" media="screen" )
    link(rel="stylesheet" href="css/signup.css")
    meta(name="robots" content="index, follow" )
    meta(name="revisit-after" content="7 days")
    meta(name="version" content="1.0")
    meta(name="google-site-verification" content="HRSGo4PTnq623i1qQkYcTKIMN8rTWOjUmQ9QbssoX5E")

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")  
    body
        div.outercontainer
            header.headertop
                div.kclogo
                    img(src="https://kidscards4christmas.s3.eu-west-2.amazonaws.com/logo/kc4clogo4HD.png" alt="Kids Cards")     
            div.gapDiv
                gapDiv
            include common/navbar.pug
            +navbar(user)
            section
                article
                    div.mainarea(style="background:none!important;")
                        if(errors)
                            p.titleLarge(style="text-align:center") Error
                            each error in errors
                                p(style="text-align:center") #{error}  
                        else  
                            p.titleLarge(style="text-align:center") Delay
                            p(style="text-align:center") We have now postponed the printing process for 3 days for #{school}
                            p(style="text-align:center") to allow parents who haven't made a purchase more time.

                        
        include ./common/footer.pug
        +footer()