doctype html
head
    include common/revised/normalHeader.pug
    include common/revised/navbar.pug
    include common/revised/footer.pug
    +head("Forgot Password")
    link(href='assets2/css/style.css' rel='stylesheet')    
    link#app-style(href='assets/css/app-creative.min.css' rel='stylesheet' type='text/css')
    link(href="assets/css/test.css" rel='stylesheet' type='text/css')  
body
                                               
    +navbar()
    section#design.bg-light.fp-table.active.fp-completely.mt-5(data-fp-styles='null' data-anchor='services' )
        
        .section
            // Triangles
            .bg-triangle.bg-triangle-dark.bg-triangle-left.bg-triangle-top
            .bg-triangle.bg-triangle-dark.bg-triangle-right.bg-triangle-bottom
            // Content
            .container          
                h1.text-center(style="font-size:4.125rem ;font-weight:500") Forgot your Password?
                .row.mt-3
                    .col-sm-12
                        form.text-center(id="form" action="/", method ="POST")
                                    
                            p(style="color:#000; font-size:18px;margin:0px;") Don't worry, it is simple to reset. </br> Enter your email address below and we will send you an email with instructions on how to rest your password.
                            br
                            label(for="password" style="color:#000;text-align:left !important") Email
                            
                            input.form-control(style="width:100% !important;text-align:left;" name="email" required=true , type="email" id="email" )
                            p.small.text-danger(style="text-align:left;margin-left:0;margin-top:0;margin-bottom:5px" id="errors") 
                            div.text-center
                                button.btn.btn-outline-primary.btn-block.mt-5(value="Send" id="send" ) Send
    +footer()   
    <script src="assets2/libs/jquery/dist/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>
                     
    <script src="assets2/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets2/libs/flickity/dist/flickity.pkgd.min.js"></script>



    <script src="assets2/libs/flickity-fade/flickity-fade.js"></script>
    <script src="assets2/libs/jquery-parallax.js/parallax.min.js"></script>
    <script src="assets2/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="assets2/libs/waypoints/lib/shortcuts/inview.min.js"></script>
    <script src="assets2/libs/fullpage.js/vendors/scrolloverflow.min.js"></script>
    <script src="assets2/libs/fullpage.js/dist/fullpage.min.js"></script>
    <script src="assets2/libs/highlightjs/highlight.pack.min.js"></script>

    script(src="assets2/js/theme.min.js")
    script(src="javascript/forgot.js")