doctype html
html(land="en")
    include common/new/header.pug
    +head("Kids Creative Cards - Forgotten Password" )
    link(href="css/new/basic.css"  rel="stylesheet")
    link(rel="stylesheet" href="css/temp.css")
    link(rel="stylesheet" href="css/new/style.css")


    body(style="background-color:white !important;padding-top:3rem")
        include common/new/horizontalNavbar.pug
        +horizontalNavbar(user)
        script(src="javascript/forgot.js")
        section.product-section(style="margin-top:10px")
            .container
                .row
                    .col-sm-12
                        div.mainarea(style="background:none!important;text-align:center")   
                            h1(style="margin-bottom:20px;text-align:center;width:100%") Forgotten your Password?
                            form(id="form" action="/", method ="POST")
                                
                                p(style="color:#000; font-size:18px;margin:0px;") Don't worry, it is simple to reset. </br> Enter your email address below and we will send you an email with instructions on how to rest your password.
                                br
                                label(for="password") Email
                                .quantity(style="margin-bottom:15px;")
                                    .pro-qty(style="width:100% !important")
                                        input(style="width:100% !important;text-align:left;" name="email" required=true , type="email" id="email" )
                                p.small.text-danger(style="text-align:left;margin-left:0;margin-top:0;margin-bottom:5px" id="errors") 

                                button.site-btn(value="Send" id="send" ) Send



        include ./common/new/footer.pug
        +footer()   