doctype html
head
    include common/revised/normalHeader.pug
    include common/revised/navbar.pug
    include common/revised/footer.pug
    +head("Reset Email Sent")
    link(href='assets2/css/style.css' rel='stylesheet')    
    link#app-style(href='assets/css/app-creative.min.css' rel='stylesheet' type='text/css')
    link(href="assets/css/test.css" rel='stylesheet' type='text/css')  

body
                                               
    +navbar()
    section#design.bg-light.fp-table.active.fp-completely.mt-5(data-fp-styles='null' data-anchor='services' )
        
        .section.mt-5
            // Triangles
            .bg-triangle.bg-triangle-dark.bg-triangle-left.bg-triangle-top
            .bg-triangle.bg-triangle-dark.bg-triangle-right.bg-triangle-bottom
            // Content
            .container.mt-5.mb-5
                .row 
                    .col-sm-12        
                        h1.text-center(style="font-size:4.125rem ;font-weight:500") Reset Email Sent
                        p.text-center(style="color:#000; font-size:18px;margin:0px;") Navigate to you email account and make sure to follow the instructions on how to rest your password.

    +footer()   
    <script src="assets2/libs/jquery/dist/jquery.min.js"></script>
    
                     
    
    <script src="assets2/libs/flickity/dist/flickity.pkgd.min.js"></script>



    <script src="assets2/libs/flickity-fade/flickity-fade.js"></script>
    <script src="assets2/libs/jquery-parallax.js/parallax.min.js"></script>
    <script src="assets2/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="assets2/libs/waypoints/lib/shortcuts/inview.min.js"></script>
    <script src="assets2/libs/fullpage.js/vendors/scrolloverflow.min.js"></script>
    <script src="assets2/libs/fullpage.js/dist/fullpage.min.js"></script>
    <script src="assets2/libs/highlightjs/highlight.pack.min.js"></script>

    script(src="assets2/js/theme.min.js")