html 
    head 
    body 
        div
            video#video(style="display:none")
            canvas#canvas(controls style="width: 400px; height: 300px; border: 1px solid #000;")
    script(src="javascript/test2.js")