doctype html
html(land="en")
    include ./common/header.pug
    +head("Update Password")
    
    link(rel="stylesheet" href="css/kcards11.css" type="text/css" media="screen" )
    meta(name="robots" content="index, follow" )
    meta(name="revisit-after" content="7 days")
    meta(name="version" content="1.0")
    meta(name="google-site-verification" content="HRSGo4PTnq623i1qQkYcTKIMN8rTWOjUmQ9QbssoX5E")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    body
        div.outercontainer
            header.headertop
                div.kclogo
                    img(src="https://kidscards4christmas.s3.eu-west-2.amazonaws.com/logo/kc4clogo4HD.png" alt="Kids Cards") 
                    script( type="text/javascript" src="javascript/updatePassword.js")    
            div.gapDiv gapDiv
            include ./common/navbar.pug
            +navbar(user)
            section
                article
                    div.mainarea(style="background:none!important;")
                        p.titleLarge(style="text-align:center") Update Password
                        br
                        nav.fullWidth.whiteBG    
                            div.login_register
                                div.register
                                    div.searchItem2
                                        div.inputtitle2
                                            p New Password:
                                            input.withBorder(type="password" value='' id="password")
                                            p.small.text-danger(style="text-align:left;margin-left:0;margin-top:0;margin-bottom:5px" id="errors") 

                                    div.searchItem2
                                        div.inputtitle2
                                            p Repeat Password:
                                            input.withBorder(type="password" value='' id="repeat")

                                    button.submitto2(id="updatePassword") Update Password
                                        
    include ./common/footer.pug
    +footer()                                  
                                        
                                   
                                        
    

