<meta http-equiv="Content-Type" content="text/html; charset=utf-8">





<div style="margin:0;padding:0" bgcolor="#f0f0f0">
<table width="600" bgcolor="#17aab7" style="font-family:Arial;border-radius:10px;border:1px solid #dbdbdb" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody >
<tr>
<td height="20"></td>
</tr>
<tr>
<td valign="top">
<table width="598" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial">
<tbody>
<tr>
<td width="20"></td>
<td width="120"><img src="https://kidscards4christmas.s3.eu-west-2.amazonaws.com/logo/findus_logoHD.png"></td>
<td width="100"></td>
<td width="20"></td>
</tr>
</tbody>
</table>
</td>
</tr>

<tr>
<td valign="top">
<table width="598" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="20" align="left"></td>
<td valign="top" width="560" align="left">
<table width="560" border="0" cellspacing="0" cellpadding="0" align="left" style="font-family:Arial">
<tbody>
<tr>
<td align="left" width="560" valign="top">
<table width="560" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="267" align="left" valign="top">
</td>
</tr>
<tr>
<td height="20"></td>
</tr>
<tr>
<td height="20"></td>
</tr>
<tr>
<td width="560" align="left" valign="top">

</td>
</tr>
<tr>
<td height="15"></td>
</tr>
<tr>
<td width="560" align="left">
<table align="left" width="560" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial;border:none;font-size:13px;color:#000000;padding-left:10px;padding-right:10px">
<tbody>

<tr>

<td >
<p>Thank you for registering and participating in this years <b>Kidscards4Christmas</b> fundraising project.</p>
<p>Please use the code/info provided on the sample instruction sheets, to locate your child Christmas card artwork.</p>
<p>You now have the option to make changes to your child's details, and the ability to upload a photo on the reverse side of card. Once you have checked the details are correct, please follow the steps to make a purchase online.</p>
<p>If you wish to create your own card from scratch, select 'Create Your Own Card' and you will be able to upload a photo on the front and back of a Christmas card. If you have trouble linking your child’s card, please reply to this email with your child’s name and code and we will link the card to your account for you.</p>
<p>Kind Regards,</p>
<p style="font-weight:bold;color:red;">Kidscards4Christmas</p>
<p><a href="https://www.kidscards4christmas.com/" style="color:#023e8f;text-decoration:none" target="_blank">https://www.kidscards4christmas.com/</a></p>
</td>
</tr>

<tr>
<td></td>
</tr>


<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td height="8" style="border-bottom:1px solid #f0f0f0"></td>
</tr>
<tr>
<td width="560" align="left">
<table width="560" cellspacing="0" cellpadding="0" border="0" align="left" style="font-family:Arial;font-size:13px;color:#000000;padding-left:10px;;padding-right:10px">
<tbody>
<tr>
<td height="25"></td>
</tr>
<tr>
<td style="font-size:11px;color:#000000">Please note: This e-mail was sent from a notification-only address that cannot accept incoming emails.<br>
Please do not reply to this email.</td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td style="font-size:11px;color:#000000">Bluwave Ltd, Registered in England and Wales (registered no. 048 400 51) Registered Office: Unit 1b 1a Philip Walk SE15 3NH, United Kingdom.</td>
</tr>
<tr>
<td height="10"></td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td width="20" align="left"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>

