<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40"><head>
<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
<meta name="ProgId" content="Word.Document">
<meta name="Generator" content="Microsoft Word 15">
<meta name="Originator" content="Microsoft Word 15">


<style>

</style>

</head>

<body lang="EN-GB" link="blue" vlink="purple" style="tab-interval:36.0pt">

<div class="WordSection1">

<table class="MsoNormalTable" border="0" cellspacing="5" cellpadding="0" style="mso-cellspacing:1.5pt;mso-yfti-tbllook:1184">
 <tbody><tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes">
  <td style="padding:.75pt .75pt .75pt .75pt">
  <div>
  <div>
  <div>
  <div>
  <p class="MsoNormal" style="background:#17AAB7;margin:0px"><span style="mso-fareast-font-family:
  &quot;Times New Roman&quot;;color:black;mso-color-alt:windowtext;background:#17AAB7;
  mso-no-proof:yes">
<img width="90%" height="131" src="https://bluwavegroupdad.s3.eu-west-2.amazonaws.com/logo/kc4clogo4HD.png" alt="Kids Cards" ><!--[endif]--></span><span style="mso-fareast-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
  </div>
  </div>
  <div>
  <p class="MsoNormal" style="background:#075F5E;color:#075F5E;margin:0px"><span style="mso-fareast-font-family:
  " times="" new="">gapDiv</span><span style="mso-fareast-font-family:&quot;Times New Roman&quot;"><o:p></o:p></span></p>
  </div>
  <div>
  <p style="background:white"><span style="color:black;mso-color-alt:windowtext">Hi
  {{name}}, <br>
  <br>
  Thank you for participating in this years kids cards 4 christmas.</span></p>
  <p style="background:white"><span style="color:black;mso-color-alt:windowtext">The
  deadline for the purchasing of cards has now passed and next step, is for us
  to print the cards.</span></p>
  <p style="background:white"><span style="color:black;mso-color-alt:windowtext">If
  everybody who wanted to by a card has purchased one, please select the
  'Continue' button and we will start the process of printing the cards, else
  if you would like to postpone the deadline for 3 more days to give parents 3
  more days to make a purchase please select the delay button. If we don't hear
  response within 3 days of receipt of this email we will assume everything is
  ok and move onto printing.</span></p>
  <p class="MsoNormal" align="center" style="text-align:center;background:white"><span style="mso-fareast-font-family:&quot;Times New Roman&quot;;color:black;mso-color-alt:
  windowtext"><a href={{continueLink}}><span style="color:white;
  text-transform:uppercase;background:#075F5E;text-decoration:none;text-underline:
  none">Continue</span></a> <a href={{delayLink}}><span style="color:white;text-transform:uppercase;background:#075F5E;text-decoration:
  none;text-underline:none">Delay</span></a> </span><span style="mso-fareast-font-family:
  &quot;Times New Roman&quot;"><o:p></o:p></span></p>
  <p style="background:white"><span style="color:black;mso-color-alt:windowtext">Kind
  Regards</span></p>
  <p style="background:white"><span style="color:black;mso-color-alt:windowtext">Kids
  Christmas Cards at Bluwave</span></p>
  <p class="MsoNormal" style="background:white"><span style="mso-fareast-font-family:
  &quot;Times New Roman&quot;"><o:p>&nbsp;</o:p></span></p>
  <p style="background:white"><span style="color:black;mso-color-alt:windowtext">T
  020 7277 7663</span></p>
  <p style="background:white"><span style="color:black;mso-color-alt:windowtext">Bluwave
  Ltd<br>
  Unit 1b, 1a Philip Walk<br>
  London SE15 3NH</span></p>
  <p class="MsoNormal" style="background:white"><span style="mso-fareast-font-family:
  &quot;Times New Roman&quot;"><o:p>&nbsp;</o:p></span></p>
  <p style="background:white"><span style="color:black;mso-color-alt:windowtext">DISCLAIMER<br>
  This e-mail message, including any attachments, is intended solely for the
  use of the addressee and may contain confidential and legally privileged
  information. If you have received this email in error and it is not intended
  for you, please inform the sender and delete the e-mail and any attachments
  immediately. NOTE: Regardless of content, this e-mail shall not operate to
  bind Bluwave Ltd to any order or other contract unless pursuant to explicit
  written agreement or government initiative expressly permitting the use of
  e-mail for such purpose. Whilst we take reasonable precautions to ensure that
  our emails are free from viruses, we cannot be responsible for any viruses
  transmitted with this e-mail and recommend that you subject any incoming
  e-mail to your own virus checking procedures.</span></p>
  <p class="MsoNormal" style="margin-bottom:12.0pt;background:white"><span style="mso-fareast-font-family:&quot;Times New Roman&quot;"><o:p>&nbsp;</o:p></span></p>
  <p style="background:white"><span style="color:black;mso-color-alt:windowtext">Bluwave
  Ltd, Registered in England and Wales (registered no. 048 400 51) Registered
  Office: Unit 1b 1a Philip Walk SE15 3NH, United Kingdom.</span></p>
  <p class="MsoNormal" style="background:white"><span style="mso-fareast-font-family:
  &quot;Times New Roman&quot;"><o:p>&nbsp;</o:p></span></p>
  <p style="background:white"><span style="color:black;mso-color-alt:windowtext">Website:
  <a href="www.thebluwavegroup.com">www.thebluwavegroup.com</a></span></p>
  </div>
  </div>
  </div>
  </td>
 </tr>
</tbody></table>

<p class="MsoNormal"><span style="mso-fareast-font-family:&quot;Times New Roman&quot;"><o:p>&nbsp;</o:p></span></p>

</div>




</body></html>